.gameButton {
  padding: 10px 30px !important;
  background-color: transparent;
  width: auto;
  font-size: medium;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer; }

.startGameButton {
  color: #52b788; }
  .startGameButton:hover {
    transition: 0.5s;
    background-color: #52b788;
    color: #081c15;
    box-shadow: 0em 0em 1em 0px #d8f3dc; }
  .startGameButton:active {
    transition: 0.2s;
    background-color: #52b788;
    color: #081c15;
    box-shadow: 0em 0em 0.2em 0px #d8f3dc; }
