header {
  display: flex;
  justify-content: center; }

h1 {
  margin: 2px 0 5px 0; }

.playerStatus {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%; }
  .playerStatus p {
    display: none; }

.startGameButton {
  padding: 10px 30px !important;
  background-color: transparent;
  width: auto;
  font-size: medium;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer; }

.buttonContainer {
  padding-top: 20px;
  display: flex;
  justify-content: center; }

.colorsFrameContainer {
  margin: 5%;
  border: 0.5px solid #52b788;
  border-radius: 15px;
  box-shadow: 0em 0em 1em 0px #d8f3dc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); }

.colorContainer {
  display: none; }

.multipleColorsContainer {
  display: none; }
