header {
  display: flex;
  justify-content: center; }

h1 {
  margin: 2px 0 5px 0; }

.playerStatus {
  display: flex;
  flex-direction: column;
  right: 400px;
  display: none;
  position: absolute; }
  .playerStatus p {
    font-size: larger;
    margin: 0; }
  .playerStatus .lifeContainer {
    display: flex;
    align-items: center; }
    .playerStatus .lifeContainer span {
      color: #c9184a; }
  .playerStatus .score {
    display: flex; }
  .playerStatus .timeContainer {
    display: flex;
    padding-top: 22px; }

.gameButton {
  padding: 10px 30px !important;
  background-color: transparent;
  width: auto;
  font-size: medium;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer; }

.startGameButton {
  color: #52b788; }
  .startGameButton:hover {
    transition: 0.5s;
    background-color: #52b788;
    color: #081c15;
    box-shadow: 0em 0em 1em 0px #d8f3dc; }
  .startGameButton:active {
    transition: 0.2s;
    background-color: #52b788;
    color: #081c15;
    box-shadow: 0em 0em 0.2em 0px #d8f3dc; }

.buttonContainer {
  padding-top: 20px;
  display: flex;
  justify-content: center; }

.colorsPanelsContainer {
  margin: 10px 30% 0 30%;
  border: 0.5px solid #52b788;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 0em 0em 1em 0px #d8f3dc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); }

.color0 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 1;
  grid-row: 1;
  cursor: pointer; }
  .color0:hover {
    transform: translateY(-0.25em); }

.color1 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 2;
  grid-row: 1;
  cursor: pointer; }
  .color1:hover {
    transform: translateY(-0.25em); }

.color2 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 3;
  grid-row: 1;
  cursor: pointer; }
  .color2:hover {
    transform: translateY(-0.25em); }

.color3 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 1;
  grid-row: 2;
  cursor: pointer; }
  .color3:hover {
    transform: translateY(-0.25em); }

.color4 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 2;
  grid-row: 2;
  cursor: pointer; }
  .color4:hover {
    transform: translateY(-0.25em); }

.color5 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 3;
  grid-row: 2;
  cursor: pointer; }
  .color5:hover {
    transform: translateY(-0.25em); }

.color6 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 1;
  grid-row: 3;
  cursor: pointer; }
  .color6:hover {
    transform: translateY(-0.25em); }

.color7 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 2;
  grid-row: 3;
  cursor: pointer; }
  .color7:hover {
    transform: translateY(-0.25em); }

.color8 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 3;
  grid-row: 3;
  cursor: pointer; }
  .color8:hover {
    transform: translateY(-0.25em); }

.colorContainer {
  display: none;
  justify-content: center; }
  .colorContainer .gameOverH1 {
    padding-top: 10px;
    color: #c9184a;
    font-size: xx-large; }

.multipleColorsContainer {
  display: none;
  justify-content: center;
  flex-direction: column; }

.difficultChoose {
  display: flex;
  justify-content: center;
  margin-top: 10px; }

.difficultSelector {
  border: 0.5px solid #52b788;
  border-radius: 2px;
  background-color: transparent;
  color: #52b788; }
  .difficultSelector:hover {
    transition: 0.5s;
    background-color: #52b788;
    color: #081c15;
    box-shadow: 0em 0em 1em 0px #d8f3dc; }
  .difficultSelector option:hover {
    background-color: #52b788;
    color: #081c15; }

.difficultSelector[disabled] {
  border: 0.5px solid #52b788;
  border-radius: 2px;
  background-color: transparent;
  color: #52b788; }
  .difficultSelector[disabled]:hover {
    border: 0.5px solid #52b788;
    background-color: transparent;
    color: #52b788;
    box-shadow: none; }
