.playerStatus {
  display: flex;
  flex-direction: column;
  right: 400px;
  display: none;
  position: absolute; }
  .playerStatus p {
    margin: 0; }
  .playerStatus .timeContainer {
    color: #52b788;
    padding-top: 22px;
    font-size: larger;
    font-weight: 100; }
