.playerStatus {
  display: flex;
  flex-direction: column;
  right: 400px;
  display: none;
  position: absolute; }
  .playerStatus p {
    font-size: larger;
    margin: 0; }
  .playerStatus .lifeContainer {
    display: flex;
    align-items: center; }
    .playerStatus .lifeContainer span {
      color: #c9184a; }
  .playerStatus .score {
    display: flex; }
  .playerStatus .timeContainer {
    display: flex;
    padding-top: 22px; }
