header {
  display: flex;
  justify-content: center; }

h1 {
  margin: 2px 0 5px 0; }

.playerStatus {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  display: none; }
  .playerStatus p {
    margin: 0; }

.startGameButton {
  padding: 10px 30px !important;
  background-color: transparent;
  width: auto;
  font-size: medium;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer; }

.buttonContainer {
  padding-top: 20px;
  display: flex;
  justify-content: center; }

.colorsFrameContainer {
  margin: 10px 30% 0 30%;
  border: 0.5px solid #52b788;
  border-radius: 15px;
  box-shadow: 0em 0em 1em 0px #d8f3dc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); }

.color0 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 1;
  grid-row: 1; }

.color1 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 2;
  grid-row: 1; }

.color2 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 3;
  grid-row: 1; }

.color3 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 1;
  grid-row: 2; }

.color4 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 2;
  grid-row: 2; }

.color5 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 3;
  grid-row: 2; }

.color6 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 1;
  grid-row: 3; }

.color7 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 2;
  grid-row: 3; }

.color8 {
  margin: 3px;
  border-radius: 15px;
  grid-column: 3;
  grid-row: 3; }

.colorContainer {
  display: none;
  justify-content: center; }

.multipleColorsContainer {
  display: none;
  justify-content: center;
  flex-direction: column; }

.difficultChoose {
  display: flex;
  justify-content: center;
  margin-top: 10px; }

.difficultSelector {
  border: 0.5px solid #52b788;
  border-radius: 2px;
  background-color: transparent;
  color: #52b788; }
  .difficultSelector:hover {
    transition: 0.5s;
    background-color: #52b788;
    color: #081c15;
    box-shadow: 0em 0em 1em 0px #d8f3dc; }
  .difficultSelector option:hover {
    background-color: #52b788;
    color: #081c15;
    box-shadow: 0em 0em 1em 0px #d8f3dc; }

html,
body {
  background-color: #081c15;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  overflow-x: hidden; }
  html p,
  body p {
    color: #b7e4c7;
    text-align: center; }
  html header,
  body header {
    color: #b7e4c7;
    background-color: #081c15;
    border-bottom: 1px solid #b7e4c7; }

.playerStatus {
  color: #b7e4c7;
  background-color: #1b4332; }

.startGameButton {
  color: #52b788; }
  .startGameButton:hover {
    transition: 0.5s;
    background-color: #52b788;
    color: #081c15;
    box-shadow: 0em 0em 1em 0px #d8f3dc; }
  .startGameButton:active {
    transition: 0.2s;
    background-color: #52b788;
    color: #081c15;
    box-shadow: 0em 0em 0.2em 0px #d8f3dc; }

.one {
  grid-column: 1 / 3;
  grid-row: 1; }
