@import '../variables/variables.scss';

.gameButton {
  padding: 10px 30px !important;
  background-color: transparent;
  width: auto;
  font-size: medium;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}

.startGameButton {
  color: $color-mid-light-green;


  &:hover {
    transition: 0.5s;
    background-color: $color-mid-light-green;
    color: $color-header;
    box-shadow: 0em 0em 1em 0px #d8f3dc;
  }

  &:active {
    transition: 0.2s;
    background-color: $color-mid-light-green;
    color: $color-header;
    box-shadow: 0em 0em 0.2em 0px #d8f3dc;
  }
}