@import './header.scss';
@import './playerStatus.scss';
@import './buttons.scss';
@import './buttonContainer.scss';
@import './colorsPanelsContainer.scss';
@import './colorContainer.scss';
@import './multipleColorContainer.scss';
@import './difficultSelector.scss'