@import './header.scss';
@import './playerStatus.scss';
@import './buttonStart.scss';
@import './buttonContainer.scss';
@import './colorsFrameContainer.scss';
@import './colorContainer.scss';
@import './multipleColorContainer.scss';
@import './difficultSelector.scss'