.playerStatus {
  display: flex;
  flex-direction: column;
  right: 400px;
  display: none;
  position: absolute;

  p {
    font-size: larger;
    margin: 0;
  }

  .lifeContainer {
    display: flex;
    align-items: center;

    span {
      color: #c9184a;
    }
  }

  .score {
    display: flex;
  }

  .timeContainer {
    display: flex;
    padding-top: 22px;
  }
}