.playerStatus {
  display: none;
  flex-direction: column;
  right: 400px;
  position: absolute;
  width: 120px;

  p {
    font-size: large;
    margin: 0;
  }

  .lifeContainer {
    display: flex;
    align-items: center;

    span {
      color: #c9184a;
      font-size: medium;
    }
  }

  .score {
    display: flex;
  }

  .record {
    display: flex;
  }

  .timeContainer {
    display: flex;
    padding-top: 22px;
  }
}